body {
    font-family: 'Open Sans', sans-serif;
}

.athlete-img {
    width: 100%;
    max-width: 500px;
}

.game-cover {
    width: 200px;
    transition:all 0.25s ease;
}

.game-cover:hover {
    transform: scale(2);
}

.gameDetails-img {
    max-height: 200px;
}

.card-image {
    height: 200px;
    object-position: center top;
    min-width: auto;
    object-fit: cover;
}

.mini-card-image {
    height: 100px;
    object-position: center top;
    min-width: auto;
    object-fit: cover;
}

.country-card-image {
    height: 100px;
    object-position: center center;
    min-width: auto;
    object-fit: cover;
}

.details-chart {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
}
