body {
    font-family: 'Open Sans', sans-serif;
}

.athlete-img {
    width: 100%;
    max-width: 500px;
}

.game-cover {
    width: 200px;
    transition:all 0.25s ease;
}

.game-cover:hover {
    transform: scale(2);
}
